@model WebApplication1.Validate.tMember_Modify_Password_val

@{
    ViewBag.Title = "Modify_Password";
}

@section styles {
    <link href="@Url.Content("~/Styles/Modify_Password_index.css")" rel="stylesheet" type="text/css" />
}

@if (ViewBag.success != null)
{
    <span class="col" style="font-size: 300%; font-weight: bolder; margin: 0px; border: 0px; padding: 0px ">@ViewBag.success</span>
    <span style="font-size: 150%; margin:0px; border:0px ; padding:0px" class="col text-end align-self-end">&ensp;&ensp;&ensp;前往<a href="/Home/Index" style="text-decoration: none">賣場</a></span>
}
else
{
    <div class="container">
        <br />
        <div class="row justify-content-center justify-content-md-start" style="padding: 7px;background-color: #FFD1A4; border-radius: 20px; font-weight: bold">
            &ensp;&ensp;修改密碼
        </div>
        <br />
    </div>
    <form action="@Url.Action("Modify_Password", "Member")" method="Post">
        <div class="container offset-md-4 col-md-4" style="background-color: white; border-radius: 5px ">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="control-label">舊密碼</div>
                </div>
                <div class="row">
                    <div style="position: relative; top: 10px;">
                        <input style="width:100%;max-width:unset;" type="password" id="MOld_Password" name="MOld_Password" class="form-control" required>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="control-label">新密碼</div>
                </div>
                <div class="row">
                    <div style="position: relative; top: 10px;">
                        <input style="width:100%;max-width:unset;" type="password" id="MPassword" name="MPassword" class="form-control" required>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="control-label">再次輸入新密碼</div>
                </div>
                <div class="row">
                    <div style="position: relative; top: 10px;">
                        <input style="width:100%;max-width:unset;" type="password" id="MPassword2" name="MPassword2" class="form-control" required>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group row">
                <div class="col">
                    <input type="submit" value="確認修改密碼" class="btn btn-primary submit-btn" style="width: 100%; max-width: unset; background-color: orangered; border: none">
                    <p class="text-danger">@ViewBag.Error</p>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        @Html.ActionLink("返回修改資料", "Modify_Information", "Member")
    </div>
}


