@model WebApplication1.Validate.tMember_Password_val
@{
    ViewBag.Title = "重設密碼";
}

@section styles {
    <link href="@Url.Content("~/Styles/Reset_Password_index.css")" rel="stylesheet" type="text/css" />
}
@if (ViewBag.success != null)
{
    <span class="col" style="font-size: 150%; font-weight: bolder; margin: 0px; border: 0px; padding: 0px ">@ViewBag.success</span>
    <span style="font-size: 100%; margin:0px; border:0px ; padding:0px" class="col">&ensp;&ensp;前往<a href="/Member/Login" style="text-decoration: none">登入</a></span>
}
else
{
    <form action="@Url.Action("Reset_Password","Member")" method="Post">
        <div class="container offset-md-4 col-md-4" style="background-color: white; border-radius: 5px ">
            <div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="control-label">新密碼</div>
                    </div>
                    <div class="row">
                        <div style="position: relative; top: 10px;"><input style="width:100%;max-width:unset;" type="password" id="MPassword" name="MPassword" class="form-control" required></div>
                    </div>
                </div>
                <br />
                <div class="form-group ">
                    <div class="row">
                        <div class="control-label">再次輸入密碼</div>
                    </div>
                    <div class="row">
                        <div style="position: relative; top: 10px;"><input style="width:100%;max-width:unset;" type="password" id="MPassword2" name="MPassword2" class="form-control" required></div>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col">
                        <input type="hidden" value="@ViewBag.Guid" id="MResetPassword" name="MResetPassword" required>
                        <input type="submit" value="確認修改密碼" class="btn btn-primary submit-btn" style="width: 100%; max-width: unset; background-color: orangered; border: none">
                        <p class="text-danger">@ViewBag.Error</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
