@model WebApplication1.Validate.tMember_Information_val

@section styles{
    <link href="@Url.Content("~/Styles/Show_Member_Information_index.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = "您的會員資料";
}

<div class="container">
    <br />
    <div class="row justify-content-center justify-content-md-start" style="padding: 7px;background-color: #FFD1A4; border-radius: 20px; font-weight: bold">
        &ensp;&ensp;您的會員資料
    </div>
    <br />
    <div class="row">
        <div class="offset-md-2 col-md-8" style="background-color: white;border-radius:5px ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br />
                <div class="row justify-content-center justify-content-md-start" style="background-color: #ECFFFF; padding: 7px; margin-left: 10px; margin-right: 10px; border-radius: 5px; font-weight: bold ">
                    &ensp;&ensp;帳號與密碼
                </div>
                <br />
                <div class="form-horizontal">
                    <div class="form-group row">
                        @Html.Label("MUserId", "帳號 : ", htmlAttributes: new { @class = "control-label col-md-4 text-start text-md-end align-self-center" })
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.MUserId)
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        @Html.Label("MPassword", "密碼 : ", htmlAttributes: new { @class = "control-label col-md-4 text-start text-md-end align-self-center" })
                        <div class="col-md-4">
                            ******
                            <input type="hidden" id="MPassword" name="MPassword" value="@Model.MPassword">
                            <input type="hidden" id="MPassword2" name="MPassword2" value="@Model.MPassword2">
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center justify-content-md-start" style="background-color: #ECFFFF; padding: 7px; margin-left: 10px; margin-right: 10px; border-radius: 5px; font-weight: bold ">
                        &ensp;&ensp;個人基本資料
                    </div>
                    <br />
                    <div class="form-group row">
                        @Html.Label("MName", "姓名 : ", htmlAttributes: new { @class = "control-label col-md-4 text-start text-md-end align-self-center" })
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.MName)
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        @Html.Label("Model.MEmail", "信箱 : ", htmlAttributes: new { @class = "control-label col-md-4 text-start text-md-end align-self-center" })
                        <div class="col-md-4">
                            <div>@Model.MEmail</div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        @Html.Label("MPhone", "電話號碼 : ", htmlAttributes: new { @class = "control-label col-md-4 text-start text-md-end align-self-center" })
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.MPhone)
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("前往賣場", "Index", "Home")
    </div>
</div>

